<!DOCTYPE html>
<html lang="en">
<% include ./includes/head.html %>
<body data-event="inventory">
    <div class="index">
        <div class="fl f-container">
            <div class="fl-search-content fl">
                <label class="control-label">
                    <select class="form-control" name="type">
                        <option value="1">装备</option>
                        <option value="2">消耗</option>
                        <option value="3">设置</option>
                        <option value="4">其他</option>
                        <option value="5">现金</option>
                    </select>
                </label>
                <input class="form-control" type="text" name="name" placeholder="请输入角色名称">
                <span class="btn btn-primary search-btn"><i class="fa fa-search"></i>搜索</span>
                <span class="btn btn-primary batch-deletion"><i class="fa fa-trash-o"></i>批量删除</span>
            </div>
            <div class="fl-user-panel fl">
                <div class="fl-user-title">物品列表</div>
                <div class="fl-user-content">
                    <table class="table-list ">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-square-o checkAll"></i>
                                </th>
                                <th>角色名称</th>
                                <th>图片</th>
                                <th>装备名称</th>
                                <th>物品ID</th>
                                <th>物品数量</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="data-content"> </tbody>
                    </table>
                </div>
                <div id="Pagination" class="pagination fr"></div>
            </div>
        </div>
    </div>
    <div class="inventory-modify-panel hide p15"></div>
    <div class="use-modify-panel hide p15">
        <label class="control-label">
            <span>数量</span>
            <input type="hidden" name="inventoryitemid">
            <input class="form-control" type="text" name="quantity">
            <span class="btn btn-primary use-modify">保存</span>
        </label>
    </div>
</body>
<% include ./includes/foot.html %>
<script src="js/inventory.js"></script>
</html>
