<!DOCTYPE html>
<html lang="en">
<% include ./includes/head.html %>
<body class="login-body">
    <div class="loginPanel">
        <div class="loginTitle">
            <img class="log-headImg">
            <h2 class="en">Welcome!</h2>
        </div>
        <div class="loginContent">
            <label><span>账户 : </span><input type="text" name="name"></label>
            <label><span>密码 : </span><input type="password" name="password"></label>
            <div class="login-control">
                <span class="login-btn">登录</span>
            </div>
        </div>
    </div>
</body>
<%include ./includes/foot.html %>
<script src="js/login.js"></script>
</html>