<!DOCTYPE html>
<html lang="en">
<% include ./includes/head.html %>
<body data-event="shop">
    <div class="index">
        <div class="fl f-container">
            <div class="fl-user-panel fl">
            	<div class="fl-tree-panel fl">
            		<div class="tree-sch">
            			<input class="form-control" type="text" name="name" placeholder="请输入角色名称">
            			<div class="line">
                            <span class="btn btn-primary tree-search">搜索</span>
            			</div>
            		</div>
               		<div class="tree-content"></div>
            	</div>
            	<div class="fl-content-panel fl">
            		<div class="fl-search-content fl">
                        <select class="form-control" name="type">
                            <option value="id">技能ID</option>
                            <option value="name">技能名称</option>
                            <option value="job">职业</option>
                        </select>
                        <input class="form-control" type="text" placeholder="根据选择类型输入名称" name="name">
            		    <span class="btn btn-primary btn-search"><i class="fa fa-search"></i>搜索</span>
            		</div>
        		    <table class="table-list table-ml">
        		        <thead>
        		            <tr>
        		                <th>
        		                    <i class="fa fa-square-o checkAll"></i>
        		                </th>
        		                <th>技能ID</th>
                                <th>技能名称</th>
        		                <th>技能图片</th>
        		                <th>技能等级</th>
        		                <th>最高等级</th>
        		                <th>职业</th>
        		                <th>操作</th>
        		            </tr>
        		        </thead>
        		        <tbody class="data-content"></tbody>
        		    </table>
            		<div id="Pagination" class="pagination fr"></div>
            	</div>
            </div>
        </div>
    </div>
</body>
<% include ./includes/foot.html %>
<script src="js/skill.js"></script>
</html>
